<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:8.0</ContainerBaseImage>
    <ContainerImageTag>1.0.0</ContainerImageTag>
    <ContainerRegistry>ghcr.io</ContainerRegistry>
    <ContainerRepository>markaplay-game-hosting/discordeventbot</ContainerRepository>
  </PropertyGroup>
</Project>